// variables

// colors
$brandColorRed: rgb(213, 0, 50);
$brandColorGray: rgb(19,34,41);
$brandColorLtGray: rgb(242,242,242);
$brandColorWhite: rgb(255,255,255);

// fonts
$fontHeading: 'Raleway', sans-serif;
$fontBody: 'Cabin', sans-serif;

$root-font-size: 18;

// screen sizes
$xsmall: 480px;
$small: 640px;
$medium: 768px;
$large: 1024px;
$xlarge: 1280px;



